data/
workspace/
**/__pycache__/**
*.pyc
.vscode/
*.ipynb_checkpoints
*__pycache__
test.sh
config/GetConfig_test.py
test_data_loader.ipynb
test.ipynb
test_calBitOps.ipynb
test_image.png
test_result.ipynb
test2.sh
test3.sh
